<!Doctype html>
<html>

<head>
	<title>Planetsorb</title>
	<script>var GameState = {};</script>
<script src="./dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="./dist/sweetalert.css">

<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js'></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="./javascripts/phaser.min.js"></script>

<script type="text/javascript" src="./javascripts/startstate.js"></script>

<script type="text/javascript" src="./javascripts/mainstate.js"></script>

<script type="text/javascript" src="./javascripts/endstate.js"></script>

<script type="text/javascript" src="./javascripts/staterules.js"></script>

<script type="text/javascript" src="./javascripts/statestory.js"></script>

<script type="text/javascript" src="./javascripts/statebot.js"></script>

<script type="text/javascript" src="./javascripts/accept_request.js"></script>

<script type="text/javascript" src="./javascripts/profilestate.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/d.css">

<script type="text/javascript" src="./javascripts/access_friends.js"></script>

<script type="text/javascript" src="./javascripts/game.js"></script>

<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/phaser.css">
</head>

<body>
<!--<div id="centerthis"><div id="mything"></div></div>-->
</body>

</html>