body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
  
	outline: white 3px solid;
	height : 640px;
	margin: auto;
	left:0; right:0; top:0; bottom:0;
	position: absolute;
	width : 1350px;
	z-index:100;
}
